<div class="container">
  <section id="createWorkingSlot">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Create Working Slot</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-select
              justify="space-between"
              label="Doctor Name"
              placeholder="Select Doctor"
              [(ngModel)]="doctorName"
            >
              <ion-select-option
                *ngFor="let doctor of this.getAvailableDoctor()"
                [value]="doctor.name"
                >{{ doctor.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Start Time</ion-label>
            <ion-input
              label="Number input"
              type="datetime-local"
              [(ngModel)]="startTime"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>End Time</ion-label>
            <ion-input
              label="Number input"
              type="datetime-local"
              [(ngModel)]="endTime"
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>

      <div id="form-footer">
        <ion-button fill="solid" color="danger">Cancel</ion-button>
        <ion-button
          fill="solid"
          (click)="createWorkSlot(doctorName, startTime, endTime)"
          >Create</ion-button
        >
      </div>
    </ion-card>
  </section>

  <section id="listAvailableSlot">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Available Working Slot</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item
          *ngFor="let slot of availableSlot"
          (click)="routeToSlotPage(slot.id)"
        >
          <ion-label
            >{{ slot.name }} slot starts from {{ slot.startTime }} and ends at
            {{ slot.endTime }}</ion-label
          >
        </ion-item>
      </ion-list>
    </ion-card>
  </section>
</div>
