
$shadow:rgb(217, 215, 215);
$formButtonEnable:rgb(148, 152, 149);
$borderColor:rgb(148, 152, 149);
$lightGreyShade:rgb(227, 227, 227);
$green:rgb(3, 170, 3);
$goldenYellow:goldenrod;
$red:rgb(214, 3, 3);
$gray:gray;